body{
    background-image: url("https://cdn.pixabay.com/photo/2021/01/29/08/09/doodles-5960094_1280.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-blend-mode: lighten;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
header{
    text-align: center;
    color: purple;
    font-weight: 700;
}
label{
    background-color: darkslateblue;
    color: whitesmoke;

}

input,
select{
    background-color: whitesmoke;
}

form p {
    background-color: darkslateblue;
    color: floralwhite;
}

form {
    background-color:darkslateblue;
    margin: 30px;
    padding: 30px;
}

textarea{
    background-color: whitesmoke;
}

